 .products {
  display: flex;
  flex-wrap: wrap;
}

.products button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 50px;
}

